<% 
	const { page, root, parent, _helpers, _pages } = props; 
	const { relative, children, reboot, siblings, breadcrumbs } = _helpers;

	const is_not_sitemap = (p) => p.path !== '/sitemap';
	const self = page;
	const childs = (children?.(props) ?? []).filter(is_not_sitemap);
	const sibs = (siblings?.(props) ?? []).filter(is_not_sitemap);
	const crumbs = breadcrumbs?.(props) ?? [];

	const title = (p) =>  {
		const t = p?.meta.title || p?.path.split('/').slice(-1);
		return t === '/' ? 'Home' : t;
	};
%>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content="https://github.com/marianmeres/emde" />
		<title><%= title(self) %> | <%= title(root) %></title>
		<style><%= reboot?.() %></style>
		<style>
			<%= _helpers.topCss?.(props)  %>
			.container {
				max-width: 66ch;
				margin: 0 auto;
				background: white;
			}
			ul.breadcrumbs {
				display: inline;
				list-style-type: none;
				margin: 0 0 0 0;
				padding: 0;
				li {
					display: inline;
					margin: 0;
					padding: 0;
				}
			}
		</style>
		<script defer src="https://assets.onedollarstats.com/stonks.js"></script>
	</head>
	<body>
		<%= _helpers.topInfo?.(props)  %>
		<div class="container">
			<% if (self.parent) { %>
				<nav style="margin-bottom: 1rem;">
					<ul class="breadcrumbs">
						<% for (const [i, p] of crumbs.entries()) { %>
							<li>
								<% if (i) { %>&rarr; <% } %>
								<% if (i === crumbs.length - 1) { %>
									<%= title(p) %>
								<% } else { %>
									<a href="<%= relative(self.path, p.path) %>/"><%= title(p) %></a>
								<% } %>
							</li>
						<% } %>
					</ul>
				</nav>
				<hr />
			<% } %>
			<main>
				<article><%= self.html %></article>
			</main>
			<% if (childs.length) { %>
				<hr />
				<nav>
					<strong>Navigation</strong>
					<ul>
						<% for (const p of childs) { %>
							<li><a href="<%= relative(self.path, p.path) %>/"><%= title(p) %></a></li>
						<% } %>
					</ul>
				</nav>
			<% } %>
			<% if (sibs.length) { %>
				<hr />
				<nav>
					<strong>Related</strong>
					<ul>
						<% for (const p of sibs) { %>
							<li><a href="<%= relative(self.path, p.path) %>/"><%= title(p) %></a></li>
						<% } %>
					</ul>
				</nav>
			<% } %>
			<hr />
			<p><a href="<%= relative(self.path, '/sitemap') %>/">Sitemap</a></p>
		</div>
	</body>
</html>
